@using ListenAndWrite.Models;
@*định nghĩa kiểu dữ liệu cho biến Model*@
@model List<chude>

<style>
    .levels>a.active {
        background-color: yellow;
    }
</style>
<div class="levels">
    
    @{
        <a href="@Url.Action("levels", "Levels", new { @level= Model[0].levels})">@Model[0].levels</a>
        for (var i = 1; i < Model.Count; i++)
        {
            if (Model[i].levels != Model[i-1].levels)
            {
                <a href="@Url.Action("levels", "Levels", new { @level= Model[i].levels})">@Model[i].levels</a>
            }
        }
    }
</div>
