@using ListenAndWrite.Models;
@model Audio
@{
    ViewBag.Title = "Listen New More";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
<link href="~/Content/NguoiDungCssLayout/pageNewMore.css" rel="stylesheet" />
<div class="panel panel-default">
    <div class="row-item row">
        <div class="col-md-12" style="min-height: 700px;">
            <div id="maincontent">
                <div id="content">
                    <br />
                    <div style="float:left; width:110px;height:110px; border: 6px solid #DDDDDD; background:RGB(120,188,100);">
                        <br />
                        <center><a href="/audio/level/10" style="color: #000000;background-color: RGB(120,188,100);font-weight:bold;font-size:1.6em;">Level<br />@Model.id</a></center>
                    </div>
                    <h1 style="margin-left:65px;">
                        &nbsp; @Model.name
                    </h1>
                    <br />
                    <br />
                    <br />
                    <div id="player2" style="border:2px solid #dddddd; padding-bottom:10px;" align="center">
                        <br>
                        <br>
                        <div id="sentence_list">
                            <div align="center">
                                <a href="#">&laquo;</a>
                                <select id="sentences_no" class="select-style">
                                    <option value="0">1...</option>
                                    <option value="1">2...</option>
                                    <option value="2">3...</option>
                                </select>
                                <a href="#">&raquo;</a>
                            </div>
                            <br>
                            <div>
                                <table border="0">
                                    <tr>
                                        <td width="20" align=right></td>
                                        <td>
                                            <audio id="music" preload="true" loop>
                                                <source src="http://www.listen-and-write.com/myaudio/b54be944f47a4dd26000603aaf49ecc8/1B_Grammar_Bank_Discourse_markers_Reason.mp3" type="audio/mpeg">
                                            </audio>
                                            <div style="overflow: hidden;position: relative;height:190px;">
                                                <div id="timeline">
                                                    <div id="playhead"></div>
                                                </div>
                                                <div id="slimprogress" style="width:525px; height:3px;"></div>

                                                <textarea class="input" id="text1" style="display: none;">The red brown fox jumped over the rolling log</textarea>
                                                <textarea class="input" cols="38" rows="3" id="audioScriptTmode">The red brown fox jumped over the rolling log</textarea>
                                                <div id="audioplayer">
                                                    <div id="pButton" class="play"></div>
                                                </div>
                                            </div>
                                            <br>
                                            <center id="finish">
                                                <span class="button xLarge icon">
                                                    <span class="check"></span>
                                                    <button type="button" class="run">Check</button>
                                                </span>
                                                <br />
                                                <span id="alertmsg"></span>
                                            </center>
                                            <br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <br />
                                            <div id="answer" class="output"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <p>
                        <center>
                            <br />
                            <h4>
                                Please login to save your score and to see your history. >>
                                <a href="dangnhap.html">Login</a>
                            </h4>
                            <image src="~/Images/sample_scores2.png" alt="sample scores">
                        </center>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/NguoiDungJs/diff.js"></script>
<script>
var music = document.getElementById('music');
var duration = music.duration;
var pButton = document.getElementById('pButton');
var playhead = document.getElementById('playhead');
var timeline = document.getElementById('timeline');

var timelineWidth = timeline.offsetWidth - playhead.offsetWidth;

pButton.addEventListener("click", play);

music.addEventListener("timeupdate", timeUpdate, false);

timeline.addEventListener("click", function(event) {
    moveplayhead(event);
    music.currentTime = duration * clickPercent(event);
}, false);

function clickPercent(event) {
    return (event.clientX - getPosition(timeline)) / timelineWidth;
}

function timeUpdate() {
    var playPercent = timelineWidth * (music.currentTime / duration);
    playhead.style.marginLeft = playPercent + "px";
    if (music.currentTime == duration) {
        pButton.className = "";
        pButton.className = "play";
    }
}

//Play and Pause
function play() {
    // start music
    music.play();
    $( "#pButton" ).css({'display': 'none'});
}

music.addEventListener("canplaythrough", function() {
    duration = music.duration;
}, false);

function getPosition(el) {
    return el.getBoundingClientRect().left;
}

var run = document.querySelector(".run"),
    input = document.querySelectorAll(".input"),
    output = document.querySelector(".output");
run.addEventListener("click", function() {
    output.innerHTML = diffString(input[1].value, input[0].value);
});
</script>