<div class="panel panel-default">
    <div class="panel-heading" style="background-color:#337AB7; color:white; text-align: center;">
        <h4 style="margin-top:0px; margin-bottom:0px;"><span class="glyphicon glyphicon-headphones"></span> L&W</h4>
    </div>
    <div class="panel-body">
        <h4>
            <a class="btn btn-default" href="#" role="button"
               style="width: 100%"><i class="glyphicon glyphicon-user"></i><span> Log in</span></a>
        </h4>
        <h4>
            <a class="btn btn-default" href="#" role="button" style="width: 100%"><i class="glyphicon glyphicon-pencil"></i><span> Sign up</span></a>
        </h4>
        <div class="break"></div>
        <div class="space20"></div>
        <div id="contact" style="text-align: center;">
            <h4>
                <a class="btn btn-default" href="#" role="button" style="width: 100%"><i class="glyphicon glyphicon-volume-up"></i><span> Submit a new Audio !</span></a>
            </h4>
        </div>
        <div class="break"></div>
        <div class="space20"></div>
        <div>
            <form>
                <div class="row">
                    <div class="col-md-8">
                        <input type="search" style="width: 133px; padding: 2px; border: 1px solid rgb(126, 157, 185);" id="mySearch" name="q" placeholder="Search...">
                    </div>
                    <div class="col-md-4">
                        <button>Search</button>
                    </div>
                    <!-- <input type="submit" name="sa" value="Search"> -->
                </div>
            </form>
        </div>
        <div class="break"></div>
        <div class="space20"></div>
        <div>
            <p style="border-bottom: 1px solid #EEEEEE">Top 20 Active Learners</p>
            <table style="width: 100%; border: none;">
                <tr>
                    <td>Maruko*** </td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko*** </td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
                <tr>
                    <td>Maruko***</td>
                    <td>3298</td>
                </tr>
            </table>
            <hr>
            <p style="text-align: center;">
                <a href="#">My acitivity score? </a>
            <p>
        </div>
    </div>
</div>